name: Gradle Assemble
on:
  workflow_dispatch:
    inputs:
      opensearch-tag:
        type: string
        default: "3.0.0"
        required: true
        description: Opensearch version (tag)

jobs:
  assemble:
    # if: github.repository == 'opensearch-project/OpenSearch'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java: [21]
        os: [ubuntu-latest, ubuntu-24.04-arm]
    steps:
      - uses: actions/checkout@v6
        with:
          repository: opensearch-project/OpenSearch
          ref: ${{ inputs.opensearch-tag }}
      # https://github.com/actions/runner-images/issues/2840#issuecomment-790492173
      - name: Remove unnecessary files Linux
        if: ${{ runner.os == 'Linux' }}
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
      - name: Run Gradle (assemble)
        shell: bash
        run: |
          ./gradlew assemble --parallel --no-build-cache -PDISABLE_BUILD_CACHE

      - name: Upload
        uses: actions/upload-artifact@v6.0.0
        with:
          path: ./**/*.tar
          name: opensearch-${{ matrix.java }}-${{ matrix.os }}

      - name: Login to ghcr.io
        uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Load Docker image from tar
        shell: bash
        run: |
          image=$(find ./distribution/docker/build -name opensearch*.tar -print -quit)
          docker load -i ${image}
          echo "OPENSEARCH_VERSION: ${{ inputs.opensearch-tag }}-patched"
          OPENSEARCH_VERSION=${{ inputs.opensearch-tag }}-patched
          echo "ARCH: ${{ runner.arch }}"
          ARCH=${{ runner.arch }}
          echo "Full tag: ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/opensearch:${OPENSEARCH_VERSION}-${$ARCH}"
          FULL_TAG="ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/opensearch:${OPENSEARCH_VERSION}-${$ARCH}"
          docker tag opensearch:test ${FULL_TAG}
          docker push ${FULL_TAG}
