name: Gradle Assemble
on:
  workflow_dispatch:
    inputs:
      opensearch-tag:
        type: string
        default: "3.0.0"
        required: true
        description: Opensearch version (tag)
      trigger-qubership-opensearch-build:
        type: boolean
        description: "Trigger qubership-opensearch build"
        default: true
        required: false

jobs:
  assemble:
    permissions:
      contents: read
      packages: write
    # if: github.repository == 'opensearch-project/OpenSearch'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        java: [21]
        os: [ubuntu-latest, ubuntu-24.04-arm]
    steps:
      - name: Show env
        shell: bash
        run: |
          echo "Repository owner: ${GITHUB_REPOSITORY_OWNER,,}"
          echo "OPENSEARCH_VERSION: ${{ inputs.opensearch-tag }}-patched"
          OPENSEARCH_VERSION=${{ inputs.opensearch-tag }}-patched
          echo "ARCH: ${{ runner.arch }}"
          ARCH=${{ runner.arch }}
          echo "Full tag: ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/opensearch:${OPENSEARCH_VERSION}-${ARCH,,}"
          FULL_TAG="ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/opensearch:${OPENSEARCH_VERSION}-${ARCH,,}"

      - uses: actions/checkout@v6
        with:
          repository: opensearch-project/OpenSearch
          ref: ${{ inputs.opensearch-tag }}
      # https://github.com/actions/runner-images/issues/2840#issuecomment-790492173
      - name: Remove unnecessary files Linux
        if: ${{ runner.os == 'Linux' }}
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
      - name: Run Gradle (assemble)
        shell: bash
        run: |
          ./gradlew assemble --parallel --no-build-cache -PDISABLE_BUILD_CACHE

      - name: Upload
        uses: actions/upload-artifact@v6.0.0
        with:
          path: ./**/*.tar
          name: opensearch-java-${{ matrix.java }}-${{ runner.arch }}

  publish-docker:
    needs: [assemble]
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Login to ghcr.io
        uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Download tars
        uses: actions/download-artifact@v7.0.0
        with:
          pattern: "*"

      - name: Load Docker image from tar
        shell: bash
        env:
          OPENSEARCH_VERSION: "${{ inputs.opensearch-tag || '3.0.0' }}-patched"
        run: |
          echo "Repository owner: ${GITHUB_REPOSITORY_OWNER,,}"
          
          echo "OPENSEARCH_VERSION: ${OPENSEARCH_VERSION}"
          declare -A images
          manifest_command=""
          FULL_TAG="ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/opensearch:${OPENSEARCH_VERSION}"
          for image_file in $(find ./ -name opensearch*.tar); do
            docker load -i ${image_file}
            ARCH=$(docker image inspect opensearch:test --format '{{.Architecture}}')
            FULL_TAG_ARCH="ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/opensearch:${OPENSEARCH_VERSION}-${ARCH,,}"
            images["$ARCH"]="$FULL_TAG_ARCH"
            echo "Full tag: ${FULL_TAG_ARCH}"
            docker tag opensearch:test ${FULL_TAG_ARCH}
            docker push ${FULL_TAG_ARCH}
            manifest_command="${manifest_command} --amend ${FULL_TAG_ARCH}"
          done
          docker manifest create ${FULL_TAG} ${manifest_command}
          for key in ${!images[@]}; do
            docker manifest annotate --arch ${key} ${FULL_TAG} ${images["$key"]}
          done
          docker manifest push ${FULL_TAG}
         
          echo "CUSTOM_TAG=${FULL_TAG}" >> $GITHUB_ENV

      - name: "Trigger ${{ github.event.repository.name }}/qubership-opensearch build"
        if: ${{ inputs.trigger-qubership-opensearch-build }}
        uses: netcracker/qubership-workflow-hub/actions/custom-event@v2.0.10
        with:
          github-token: ${{ secrets.GH_ACCESS_TOKEN }}
          owner: ${{ github.repository_owner }}
          repo: qubership-opensearch
          event-type: opensearch-patched-build
          client-payload: '{"custom_opensearch_version": "${{ env.CUSTOM_TAG }}", "target_branch": "main", "opensearch_tag": "${{ inputs.opensearch-tag }}"}'
