name: Create multiarch image
on:
  workflow_dispatch: {}


jobs:
  publish-docker:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Login to ghcr.io
        uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Download tars
        uses: actions/download-artifact@v7.0.0
        with:
          pattern: "*"
          run-id: 21820615813
          github-token: ${{ github.token }}

      - name: Load Docker image from tar
        shell: bash
        run: |
          for image_file in $(find ./ -name opensearch*.tar); do
            docker load -i ${image_file}
            docker image inspect opensearch:test | grep Architecture
          done
            echo "Repository owner: ${GITHUB_REPOSITORY_OWNER,,}"
            echo "OPENSEARCH_VERSION: ${{ inputs.opensearch-tag }}-patched"
            OPENSEARCH_VERSION=${{ inputs.opensearch-tag }}-patched
            echo "ARCH: ${{ runner.arch }}"
            ARCH=${{ runner.arch }}
          
          echo "Full tag: ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/opensearch:${OPENSEARCH_VERSION}-${ARCH,,}"
          FULL_TAG="ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/opensearch:${OPENSEARCH_VERSION}-${ARCH,,}"
          # echo "CUSTOM_TAG=${FULL_TAG}" >> $GITHUB_ENV
          # docker tag opensearch:test ${FULL_TAG}
          # docker push ${FULL_TAG}
