name: Create multiarch image
on:
  workflow_dispatch: {}


jobs:
  publish-docker:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Login to ghcr.io
        uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Download tars
        uses: actions/download-artifact@v7.0.0
        with:
          pattern: "*"
          run-id: 21820615813
          github-token: ${{ github.token }}

      - name: Load Docker image from tar
        shell: bash
        run: |
          echo "Repository owner: ${GITHUB_REPOSITORY_OWNER,,}"
          OPENSEARCH_VERSION=${{ inputs.opensearch-tag }}-patched
          echo "OPENSEARCH_VERSION: ${OPENSEARCH_VERSION}"
          for image_file in $(find ./ -name opensearch*.tar); do
            docker load -i ${image_file}
            ARCH=$(docker image inspect opensearch:test --format '{{.Architecture}}')
            FULL_TAG="ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/opensearch:${OPENSEARCH_VERSION}"
            FULL_TAG_ARCH="ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/opensearch:${OPENSEARCH_VERSION}-${ARCH,,}"
            echo "Full tag: ${FULL_TAG_ARCH}"
            docker tag opensearch:test ${FULL_TAG_ARCH}
            docker push ${FULL_TAG_ARCH}
            docker manifest annotate --arch ${ARCH} ${FULL_TAG} ${FULL_TAG_ARCH}
          done
          docker manifest push ${FULL_TAG}
         
          echo "CUSTOM_TAG=${FULL_TAG}" >> $GITHUB_ENV
