
name: trigger qubership-opensearch integration build

on:
  workflow_dispatch:
    inputs:
      opensearch-tag:
        type: string
        default: "3.0.0"
        required: true
        description: Opensearch version (tag)
      target-branch:
        type: string
        default: "main"
        required: true
        description: Qubership-Opensearch target branch

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: "Trigger ${{ github.event.repository.name }}/qubership-opensearch build"
        uses: netcracker/qubership-workflow-hub/actions/custom-event@v2.0.10
        with:
          github-token: ${{ secrets.GH_ACCESS_TOKEN }}
          owner: ${{ github.repository_owner }}
          repo: qubership-opensearch
          event-type: opensearch-patched-build
          client-payload: '{"custom_opensearch_version": "ghcr.io/${{ github.repository_owner }}/opensearch:${{ inputs.opensearch-tag }}-patched", "target_branch": "main", "opensearch_tag": "${{ inputs.opensearch-tag }}"}'
